$shadows: (
  subtle-offset: 3px 5px 20px 0 rgba(#000000, 0.04),
  soft-depth: 0 5px 20px 0 rgba(#000000, 0.04),
  lateral-depth: 3px 0 20px 0 rgba(#000000, 0.04),
  ambient-depth: 0 15px 90px 0 rgba(#000000, 0.03)
);
