$sizes: (
  control-sm: 2.5rem,
  control-md: 2.75rem,
  control-lg: 3rem,
  control-xl: 3.125rem,
  icon-14: 0.875rem,
  icon-16: 1rem,
  icon-20: 1.25rem,
  icon-22: 1.375rem,
  icon-24: 1.5rem,
  icon-26: 1.625rem,
  icon-30: 1.875rem,
  icon-40: 2.5rem,
  content-sm: 42rem,
  content-md: 64rem,
  content-lg: 72rem,
  sidebar: 17.6875rem,
  header: 6.25rem,
  table-min-width: 75rem,
  filter-popover: 16.875rem,
  dropdown-menu-min: 11.25rem,
  dropdown-menu: 16.875rem
);

$border-widths: (
  none: 0,
  thin: 1px,
  thick: 2px
);

$opacities: (
  0: 0,
  8: 0.08,
  12: 0.12,
  16: 0.16,
  24: 0.24,
  64: 0.64,
  80: 0.8,
  100: 1
);
